.row {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 2rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 2rem;
}

.row .articles {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.column .articles {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row h2, .column h2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  padding-bottom: 0.5rem;
}