.row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row .articles {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.column .articles {
  display: flex;
  flex-direction: column;
  gap: 20px;
}