.article {
  width: 100%;
  overflow: hidden;
}

.article img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
}

.article h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.article p {
  font-size: 0.875rem;
  color: #666;
}