.header {
  border-bottom: 2px solid black;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.topBar span img {
  margin-right: 6px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: black;
  color: white;
}